body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.colored-section {
  background-color: #FF4C68;
  color: #FFF;
}

.white-section {
  background-color: #FFF;
}

/* Headings */
.big-heading {
  /* Montserrat Black */
  font-weight: 900;
  font-size: 3.5rem;
}

.section-heading {
  font-size: 3rem;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

.nav-item {
  /* 0 TB, 18px RL */
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

/* Download Buttons */
.download-button {
  /* TRBL */
  margin: 5% 3% 5% 0;
}

.container-fluid {
  padding: 7% 15%;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Features Section */
#features {
  position: relative;
}

.feature-box {
  /* shortens the text */
  padding: 3.5%;
}

.icon {
  color: #EF8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

/* Testimonials Section */
#testimonials {
  background-color: #EF8172;
}

.testimonial-text {
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */
#press {
  background-color: #EF8172;
  padding-bottom: 3%;
}

.press-logo {
  /* top, LR, bottom */
  width: 20% 20% 50%;
  margin: 20px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.pricing-text {
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action Section */
.closing {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 5rem;
}

/* Footer Section */
#footer {
  background-color: #FFF;
}

.footer-icon {
  margin: 10px 10px 20px;
}
